/*Uncategorised*/
* {
  box-sizing: border-box;
}

/*Information Banners*/
.information {
    font-family: "Interstate",Arial, sans-serif;
    font-weight: bold;
    text-transform: none;
    font-size: 18px;
    line-height: 1.2;
    padding: 20px;
    margin-top: 15px;
    border-width: 5px;
    border-style: solid;
	border-color: #6c585f;
 	color: #6c585f;
}  
.emergency {
    font-family: "Interstate",Arial, sans-serif;
    font-weight: bold;
    text-transform: none;
    font-size: 18px;
    line-height: 1.2;
    padding: 20px;
    margin-top: 15px;
    border-width: 5px;
    border-style: solid;
    border-color: #b10e1e;
    color: #b10e1e;
}
.tentative {
    font-family: "Interstate",Arial, sans-serif;
    font-weight: bold;
    text-transform: none;
    font-size: 18px;
    line-height: 1.2;
    padding: 20px;
    margin-top: 15px;
    border-width: 5px;
    border-style: solid;
    border-color: #cd4c0b;
    color: #cd4c0b;
}
.success {
    font-family: "Interstate",Arial, sans-serif;
    font-weight: bold;
    text-transform: none;
    font-size: 18px;
    line-height: 1.2;
    padding: 20px;
    margin-top: 15px;
    border-width: 5px;
    border-style: solid;
    border-color: #00823b;
    color: #00823b;
}
.black-banner {
  padding: 20px;
  margin-top: 15px;
  border-width: 5px;
  border-style: solid;
  background: #282728;
  color: #fff;
  padding: 15px 15px 18px 15px;
   font-family: "Interstate",Arial, sans-serif;
    font-weight: 700;
    text-transform: none;
    font-size: 24px;
    line-height: 1.04167;
    margin-bottom: 15px;
}

/*Phase Banner*/
.tsc-phase-banner {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #b1b4b6;
}
.tsc-phase-banner-text {
	display: table-cell;
	vertical-align: baseline;
}
.tsc-phase-banner-content {
    font-family: "Mytupi",Arial, sans-serif;
    font-weight: 400;
    font-size: 14px;
    font-size: .875rem;
    line-height: 1.14286;
    color: #141414;
    display: table;
    margin: 0;
}
.tsc-tag {
    display: inline-block;
    outline: 2px solid transparent;
    outline-offset: -2px;
    color: #fff;
    background-color: #6c585f;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Mytupi",Arial,sans-serif;
    font-weight: 700;
    font-size: 14px;
    font-size: .875rem;
    line-height: 1;
    padding-top: 5px;
    padding-right: 8px;
    padding-bottom: 4px;
    padding-left: 8px;
}
.tsc-phase-banner-content-tag {
    margin-right: 10px;
}
.tsc-banner-text {
	font-family: "Mytupi",Arial, sans-serif;
    text-transform: none;
    font-size: 18px;
 }

/*Row and Columns*/
.tsc-row {
  display: flex;
}
.tsc-one-column {
  flex: 100%;
  padding: 5px;
}
.tsc-two-column {
  flex: 50%;
  padding: 5px;
}
.tsc-three-column {
  flex: 33%;
  padding: 5px;
}
@media (min-width: 40.0625em)
.tsc-two-column {
    flex:100%;
}
@media (min-width: 40.0625em)
.tsc-three-column {
    flex:100%;
}

/*Table*/
table {
    display: table;
    border-collapse: separate;
    box-sizing: border-box;
    border-spacing: 2px;
    border-color: grey;
}
.tsc-table {
    font-family: "Mytupi",Arial,sans-serif;
    font-weight: 400;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25;
    color: #141414;
    width: 100%;
    margin-bottom: 20px;
    border-spacing: 0;
    border-collapse: collapse;
}
@media (min-width: 40.0625em)
.tsc-table {
    font-size: 19px;
    font-size: 1.1875rem;
    line-height: 1.31579;
}
@media (min-width: 40.0625em)
.tsc-table {
    margin-bottom: 30px;
}
tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}
thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
    font-family:"Interstate",Arial,sans-serif;
}
tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}
.tsc-table__header, .tsc-table__cell {
    padding: 10px 20px 10px 0;
    border-bottom: 1px solid #b1b4b6;
    text-align: left;
    vertical-align: top;
}
.tsc-table__header {
    font-weight: 700;
}
.tsc-table__header:last-child, .tsc-table__cell:last-child {
    padding-right: 0;
}
.tsc-table__header, .tsc-table__cell {
    padding: 10px 20px 10px 0;
    border-bottom: 1px solid #b1b4b6;
    text-align: left;
    vertical-align: top;
}
td {
    display: table-cell;
    vertical-align: inherit;
}

/*Panel*/
.tsc-panel--confirmation {
    color: #fff;
    background: #00823b;
}
.tsc-panel--general {
    color: #fff;
    background: #6c585f;
}
@media (max-width: 40.0525em)
.tsc-panel {
    padding: 25px;
}
.tsc-panel {
    font-family: "Interstate",Arial,sans-serif;
    font-weight: 400;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25;
    box-sizing: border-box;
    margin-bottom: 15px;
    padding: 35px;
    border: 5px solid transparent;
    text-align: center;
}
.tsc-panel__title {
    margin-top: 0;
    margin-bottom: 10px;
    font-family: "Interstate",Arial,sans-serif;
    font-weight: 700;
    font-size: 32px;
    font-size: 2rem;
    line-height: 1.09375;
}
.tsc-panel__body {
    font-family: "Interstate",Arial,sans-serif;
    font-weight: 400;
    font-size: 24px;
    font-size: 1.5rem;
margin-bottom: 10px;
    line-height: 1.04167;

/*Button*/
@media (min-width: 40.0625em)
.tsc-button {
    width: auto;
}
.cognito .c-button .tsc-button {
    font-family: "Interstate",Arial,sans-serif;
    font-weight: 400;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.1875;
    box-sizing: border-box;
    display: inline-block;
    position: relative;
    width: 100%;
    margin-top: 0;
    margin-bottom: 22px;
    padding: 8px 10px 7px;
    border: 2px solid transparent;
    border-radius: 0;
    color: #fff;
    background-color: #00703c;
    box-shadow: 0 2px 0 #002d18;
    text-align: center;
    vertical-align: top;
    cursor: pointer;
}
.tsc-button {
    font-family: "Interstate",Arial,sans-serif;
    font-weight: 400;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.1875;
    box-sizing: border-box;
    display: inline-block;
    position: relative;
    width: 100%;
    margin-top: 0;
    margin-bottom: 22px;
    padding: 8px 10px 7px;
    border: 2px solid transparent;
    border-radius: 0;
    color: #fff;
    background-color: #00703c;
    box-shadow: 0 2px 0 #002d18;
    text-align: center;
    vertical-align: top;
    cursor: pointer;
}
button {
    text-rendering: auto;
    color: -internal-light-dark-color(buttontext, rgb(170, 170, 170));
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    background-color: -internal-light-dark-color(rgb(239, 239, 239), rgb(74, 74, 74));
    box-sizing: border-box;
    margin: 0em;
    font: 400 13.3333px Arial;
    padding: 1px 6px;
    border-width: 2px;
    border-style: outset;
    border-color: -internal-light-dark-color(rgb(118, 118, 118), rgb(195, 195, 195));
    border-image: initial;
}

/*Warning*/
.tsc-warning-text {
    position: relative;
    margin-bottom: 20px;
    padding: 10px 0;
}
.tsc-warning-text__icon {
    font-family: "Interstate",Arial,sans-serif;
    font-weight: 700;
    display: inline-block;
    position: absolute;
    left: 0;
    min-width: 29px;
    min-height: 29px;
    margin-top: -7px;
    border: 3px solid #141414;
    border-radius: 50%;
    color: #fff;
    background: #141414;
    font-size: 30px;
    line-height: 29px;
    text-align: center;
    user-select: none;
}
.tsc-warning-text__text {
    font-family: "Interstate",Arial,sans-serif;
    font-weight: 700;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25;
    color: #141414;
    display: block;
    padding-left: 45px;
}

/*Document*/
.tsc-document {
background-color: #dee0e2;
padding: 6px;
}