.tsc-header__container {
    position: relative;
    margin-bottom: -10px;
    padding-top: 10px;
    border-bottom: 10px solid #6c585f;
    width: 100%;
}
.tsc-width-container {
    margin-right: max(15px, calc(15px + env(safe-area-inset-right)));
    margin-left: max(15px, calc(15px + env(safe-area-inset-left)));
}
.tsc-width-container {
    margin-right: 15px;
    margin-left: 15px;
}
.tsc-header {
    font-family: Arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 14px;
    font-size: .875rem;
    line-height: 1.14286;
    border-bottom: 10px solid #fff;
    color: #fff;
    background: #f1b50f;
    padding-left: 15px;
    padding-bottom: 10px;
    padding-top: 10px;
}
.tsc-header__container:after {
    content: "";
    display: block;
    clear: both;
}

.tsc-footer__meta {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: -15px;
    margin-left: -15px;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.tsc-footer {
    font-family: Arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 14px;
    font-size: .875rem;
    line-height: 1.14286;
    padding-top: 25px;
    padding-bottom: 15px;
    border-top: 1px solid #b1b4b6;
    color: #0b0c0c;
    background: #f3f2f1;
}
.tsc-width-container {
    margin-right: max(15px, calc(15px + env(safe-area-inset-right)));
    margin-left: max(15px, calc(15px + env(safe-area-inset-left)));
}
.tsc-width-container {
    max-width: 960px;
    margin-right: 15px;
    margin-left: 15px;
}
.tsc-footer__meta-item--grow {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
.tsc-footer__meta-item {
    margin-right: 15px;
    margin-bottom: 25px;
    margin-left: 15px;
}
.tsc-link,.app-prose-scope a{
    font-family: Arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}
@media print{
    .tsc-link,.app-prose-scope a{
        font-family: sans-serif
}
}
.tsc-link: focus,.app-prose-scope a: focus{
    outline: 3px solid transparent;
    color: #0b0c0c;
    background-color: #fd0;
    -webkit-box-shadow: 0 -2px #fd0,0 4px #0b0c0c;
    box-shadow: 0 -2px #fd0,0 4px #0b0c0c;
    text-decoration: none
}
.tsc-link,.app-prose-scope a{
	font-family: Arial,sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale
}
