/*Header*/
.tsc-header__container {
    position: relative;
    margin-bottom: -10px;
    padding-top: 10px;
    border-bottom: 10px solid #6c585f;
    width: 100%;
}
.tsc-header {
    font-family: "Interstate",Arial,sans-serif;
    font-weight: 400;
    font-size: 14px;
    font-size: .875rem;
    line-height: 1.14286;
    border-bottom: 10px solid #fff;
    color: #fff;
    background: #f1b50f;
    padding-left: 15px;
    padding-bottom: 10px;
    padding-top: 10px;
}
.tsc-header-sub {
    font-family: "Interstate",Arial,sans-serif;
    font-weight: 400;
    font-size: 14px;
    font-size: .875rem;
    line-height: 1.14286;
    border-bottom: 10px solid #fff;
    color: #fff;
    background: #6C585F;
    padding-left: 15px;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-top: -9px;
}
.tsc-header__container:after {
    content: "";
    display: block;
    clear: both;
}

/*Footer*/
.tsc-footer__meta {
    display: flex;
    margin-right: -15px;
    margin-left: -15px;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: center;
}
.tsc-footer {
    font-family: "Interstate",Arial,sans-serif;
    font-weight: 400;
    font-size: 14px;
    font-size: .875rem;
    line-height: 1.14286;
    padding-top: 25px;
    padding-bottom: 15px;
    border-top: 1px solid #b1b4b6;
    color: #141414;
    background: #f3f2f1;
}
.tsc-footer__meta-item--grow {
    flex: 1;
}
.tsc-footer__meta-item {
    margin-right: 15px;
    margin-bottom: 25px;
    margin-left: 15px;
}

/*Width Containers*/
.tsc-width-container {
    margin-right: max(15px, calc(15px + env(safe-area-inset-right)));
    margin-left: max(15px, calc(15px + env(safe-area-inset-left)));
}
.tsc-width-container {
    margin-right: 15px;
    margin-left: 15px;
}
.tsc-width-container {
    max-width: 960px;
    margin-right: 15px;
    margin-left: 15px;
}
