/*Import fonts*/
@font-face {
  font-family: Mytupi;
  src: url(https://assets.service.tonbridgespirirtualist.com/digital-service/frontend/fonts/Mytupi.woff);
@import url("https://p.typekit.net/p.css?s=1&k=ijf0nsq&ht=tk&f=31141.31142.31145.31146.31154.31156.31162.31163.31166.31167&a=44100770&app=typekit&e=css");

@font-face {
font-family:"Interstate";
src:url("https://use.typekit.net/af/e5199f/00000000000000003b9ae7f4/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/e5199f/00000000000000003b9ae7f4/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/e5199f/00000000000000003b9ae7f4/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:400;
}
}

/*Basic*/
body {
background: transparent;
font-family: "Mytupi", Arial, sans-serif;
font-size: 19px;
font-weight: 400;
line-height: 1.3157894737;
}
h1 {
margin: 11px 0 0 15px;
}
h1 a {
position: relative;
display: block;
height: 30px;
width: 192px;
overflow: hidden;
}
h1 a img {
position: relative;
display: block;
height: 25px;
width: auto;
}
@media (max-width: 640px) {
body {
font-size: 15px;
}
}
h2 {
padding-bottom: 30px;
font-size: 36px;
font-weight: bold;
line-height: 40px;
}
h2 strong {
display: block;
padding-bottom: 10px;
font-size: 19px;
line-height: 25px;
}
h2 a {
text-decoration: none;
color: inherit;
}
h2 a:hover {
text-decoration: underline;
}
h3 {
font-weight: bold;
}
p {
margin-bottom: 1em;
}
a {
color: #6C585F;
}
a:hover,
a:focus {
color: #a38f96;
}
a:active {
color: #df3034;
}

/*Caption*/
.tsc-caption-l {
    font-family: "Interstate",Arial,sans-serif;
    font-weight: 400;
    font-size: 18px;
    font-size: 1.125rem;
    line-height: 1.11111;
    display: block;
    margin-bottom: 5px;
    color: #626a6e;
}
@media (min-width: 40.0625em)
.tsc-caption-l {
    font-size: 24px;
    font-size: 1.5rem;
    line-height: 1.25;
}
@media (min-width: 40.0625em)
.tsc-caption-l {
    margin-bottom: 0;
}

/*Tile*/
.tsc-tile-small {
color:#fff;
font-family:"Mytupi", Arial, sans-serif
font-weight:700;
font-size:18px;
line-height:1.1111111111;
display:block;
margin-top:0;margin-bottom:15px
}
.tsc-tile h2 {
  padding-bottom: 20px;
}
.tsc-tile-big {
color:#fff;
font-family:"Mytupi", Arial, sans-serif;
font-weight:700;
font-size:40px;
display:block;
padding-bottom: 0px;
}

/*Paragraphs*/
.tsc-para-leading {
font-size: 20px
font-family: "Mytupi", Arial, sans-serif;
color: #141414;
}
.tsc-para-small {
font-size: 15px;
font-family: "Mytupi", Arial, sans-serif;
color: #141414;
}
.tsc-para {
font-size: 18px;
font-family: "Mytupi", Arial, sans-serif;
color: #141414;
}
.tsc-para-large {
font-size: 22px;
font-family: "Mytupi", Arial, sans-serif;
color: #141414;
}
.tsc-img-caption {
font-size: 14px;
color: #141414;
font-family: "Mytupi", Arial, sans-serif;
border-left: 3px solid #6c585f;
background-color: #dee0e2;
padding: 6px;
}
.tsc-blockquote {
font-size: 14px;
color: #141414;
font-family: "Mytupi", Arial, sans-serif;
border-left: 3px solid #6c585f;
background-color: #dee0e2;
padding: 6px;
padding-left: 12px;
}

/*Random Typography*/
.tsc-metadata {
font-size: 16px;
font-family: "Mytupi", Arial, sans-serif;
color:#141414;
}
.tsc-navigation {
font-size: 13px;
font-family: "Mytupi", Arial, sans-serif;
link-color: #141414;
}
.tsc-link {
font-family: "Mytupi", Arial, sans-serif;
link-color: #141414;
}
/*Headings*/
.tsc-heading-large {
color:#141414;
font-family:"Interstate", Arial, sans-serif;
font-weight:700;
font-size:40px;
line-height:1.1111111111;
display:block;
margin-top:0;
margin-bottom:5px;
}
.tsc-heading {
color:#141414;
font-family: "Mytupi", Arial, sans-serif;
font-weight:700;
font-size:18px;
line-height:1.1111111111;
display:block;
margin-top:0;
margin-bottom:15px;
}
.tsc-heading-small {
color:#141414;
font-family: "Mytupi", Arial, sans-serif;
font-weight:700;
font-size:15px;
line-height:1.1111111111;
display:block;
margin-top:0;
margin-bottom:15px;
}
.tsc-doctype {
padding: 3px;
background-color: #B10E1E;
font-family: "Interstate",Arial,sans-serif;
color: #fff;
}